
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
	background-image: url("../images/bg2.jpg");
	background-repeat:no-repeat;
    background-position:center;
}

.container {
	padding-top: 150px;
	@include outer-container(740px);	
	border-radius: 10px;
	button:focus {outline:0;}
}

.shadow {
	@include span-columns(12);
	border-radius: 10px;
	box-shadow: 15px 10px 10px rgba(0,0,0, .5);
}

.display {
	background-color: #333333;
	@include span-columns(12);
	height: 65px;
	border: 1px solid #C0C0C0;
	border-radius: 10px 10px 0 0;
	color: white;
	font-size: 30px;
	text-align: right;
	margin: 0px;
	
	h2 {
		margin: 10px 0 0 0;
		padding-right: 10px;
	}
}


button {
	@include span-columns(3);
	height: 40px;
	color: white;
	font-size: 25px;
}

.zero {
	@include span-columns(6);
	border-bottom-left-radius: 10px;

	}

.calc-button.ac {
	background-color: #555555;
}

.calc-button.plusminus {
	background-color: #555555;
}

.calc-button.percent {
	background-color: #555555;	
}
.calc-button.number {
	background-color: #444444;
}

.calc-button.period {
	background-color: #555555;	
}

.calc-button.divide {
	@include omega();
	color: white;
	background-color: #000044;

}

.calc-button.multiply {
	@include omega();
	color: white;
	background-color: #000044;	

}

.calc-button.subtract {
	@include omega();
	color: white;
	background-color: #000044;	

}

.calc-button.plus {
	@include omega();
	color: white;
	background-color: #000044;	

}

.calc-button.equal {
	@include omega();
	color: white;
	background-color: #000044;
	border-bottom-right-radius: 10px;

}

.calc-button.operator {
	color: white;
	background-color: #000044;
}